# Build results
bin/
[Dd]ebug/
[Rr]elease/
*.sba
*.sdx
*.sxp
# Mono prefs
*.sln
*.userprefs

#Latex junk files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

#Other
*.pdf
*.nav
doc/presentation/lora.tex~
*.aux
doc/presentation/main.log
*.nav
doc/presentation/main.pdf
*.toc
doc/presentation/main.vrb
*.*~
*.log
doc/presentation/img/Thumbs.db
doc/presentation/main.log
*.vrb
doc/presentation/main.pdf