# Build results
bin/
[Dd]ebug/
[Rr]elease/
*.sba
*.sdx
*.sxp
# Mono prefs
*.sln
*.userprefs


#Latex junk files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
